



body{
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

.avatar {
    width: 300px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0 25);
}
.info {
    display: flex;
    margin-bottom: 20px;
}
@media (max-width: 700px;){
    .info{
        text-align: center;
        display: block;
    }

}
.info-text {
    margin-left:40px;
}
.info-text h4{
    margin-bottom: 10px;
}

.info p {
    color: #86898f;
    margin 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
    

}
.container{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;

}
/*.social {
    background: rgb(117, 221, 117);
    padding: 15px;
    border: 5px solid red;
    margin: 20px;
}

/*.box-model > div {
    float:left;
    background: #000;
    height: 200px;
    width: 25%;
    box-sizing: border-box;


}*/
.bg-yellow{
    background: rgb(248, 248, 174);
}
.bg-green{
    background: rgb(156, 248, 160);
}
.bg-red{
    background: rgb(240, 157, 157);
}


.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card h2{
    margin-bottom: 10px;
}
.list{
    padding: 0 20px;
}

.list li {
    color: rgb(20, 4, 4);
    margin-bottom:10px ;
}
.table {
    width: 100%;
}
.link-list {
    list-style: square;
    padding: 0;
}
.link-list li{
    margin-bottom: 10px;
    padding-bottom: 5px ;
    border-bottom: 1px solid #ccc;
}
.contact h2 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}
.form-group input{
    width: 100%;
    box-sizing: border-box;
    border:none;
    /*background: transparent;*/
    border-bottom: 1px solid #f1f1f1;
    color: #000
    padding: 15px 0 10px;
    outline: none;
    font-family:inherit;
}
.row {
    display: flex;
    margin-bottom: 20px;

}

.row > .form-group{
    width: 50%;
    margin-bottom: 20px;
}
.row > .form-group:last-child{
    margin-right: 0;
}
.btn{
    background: #000;
    padding: 15px 20px;
    color: white;
    border: none;
    font-family:inherit ;
    cursor: pointer;
}
.btn: hover{
    opacity: 0.9;

}